[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = git@github.com:maple-labs/erc20-helper.git
[submodule "modules/maple-proxy-factory"]
	path = modules/maple-proxy-factory
	url = git@github.com:maple-labs/maple-proxy-factory.git
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = git@github.com:foundry-rs/forge-std.git
