[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = https://github.com/maple-labs/contract-test-utils.git
	ignore = dirty
[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = git@github.com:maple-labs/erc20-helper.git
[submodule "modules/maple-proxy-factory"]
	path = modules/maple-proxy-factory
	url = git@github.com:maple-labs/maple-proxy-factory.git
